body {
  font-family: "Roboto", sans-serif;
}

.bg-orange {
  background-color: #ee9356;
}

.task-manager__title {
  font-size: 32px;
}

.task-manager__sort {
  margin-right: 10px;
}

.task-manager__card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.task-manager__card:hover .task-manager__card-delete,
.task-manager__card:hover .task-manager__card-link,
.task-manager__card:focus .task-manager__card-delete,
.task-manager__card:focus .task-manager__card-link {
  visibility: visible;
}

.task-manager__card-title {
  word-break: break-all;
  max-width: 300px;
  font-size: 24px;
  font-weight: bold;
}

.task-manager__card-date {
  color: #cbcccc;
  font-weight: 300;
  font-size: 14px;
}

.task-manager__card-link {
  position: absolute;
  top: -5px;
  right: -3px;
  font-size: 40px;
  color: #a3a3a3;
  line-height: 40px;
  visibility: hidden;
  background-color: #fff;
}

.task-manager__card-link:hover,
.task-manager__card-link:focus {
  color: #12b177;
}

.task-manager__card-delete {
  visibility: hidden;
  margin-top: auto;
}

.new-task {
  overflow: hidden;
  position: relative;
}

.new-task__container {
  max-width: 700px;
}

.new-task__title {
  margin: 0;
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  background-color: #2ebdbd;
  color: #fff;
  background-color: #2ebdbd;
}

.new-task__title-edit {
  background-color: #db4646;
}

.new-task__form {
  padding: 20px;
}

.new-task__label {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.new-task__input {
  resize: none;
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 40px;
}

.new-task__input-description {
  min-height: 250px;
}

.new-task__message {
  position: absolute;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  top: 50%;
  right: 0;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.new-task__message.created {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.new-task__back {
  text-decoration: none;
  position: absolute;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  top: 15px;
  right: 20px;
}

.new-task__back:hover {
  color: #d4d4d4;
}